.active{
    border: 1px solid rgb(117, 16, 16);
    width: 50%;
    height: 30vh;
}
.bulk{
    border: 1px solid black;
    width: 50%;
    height: 30vh;
}
.coins{
    border: 1px solid black;
    width: 50%;
    height: 30vh;
}
.features{
    border: 1px solid black;
    width: 50%;
    height: 30vh;
}
.premium{
    border: 1px solid black;
    width: 50%;
    height: 30vh;
}
.redeem{
    border: 1px solid black;
    width: 100%;
    height: 30vh;
}
.monthly{
    border: 1px solid black;
    width: 50%;
    height: 30vh;
}
