.active{
    border: 1px solid lightblue;
    width: 50%;
    height: 30vh;
    background-color: rgb(225,230,254);
    border-radius: 3px;
}
.bulk{
    border: 1px solid lightblue;
    width: 50%;
    height: 30vh;
    background-color: rgb(225,230,254);
    border-radius: 3px;
}
.coins{
    border: 1px solid lightblue;
    width: 50%;
    height: 30vh;
    background-color: rgb(225,230,254);
    border-radius: 3px;
}
.features{
    border: 1px solid lightblue;
    width: 50%;
    height: 30vh;
    background-color: rgb(225,230,254);
    border-radius: 3px;
}
.premium{
    border: 1px solid lightblue;
    width: 50%;
    height: 30vh;
    background-color: rgb(225,230,254);
    border-radius: 3px;
}
.redeem{
    border: 1px solid lightblue;
    width: 100%;
    height: 30vh;
    background-color: rgb(225,230,254);
    border-radius: 3px;
}
.monthly{
    border: 1px solid lightblue;
    width: 50%;
    height: 30vh;
    background-color: rgb(225,230,254);
    border-radius: 3px;
}
