.exchanges{
    display: flex;
    flex-direction: column;
   
    border: 1px solid rgb(226, 210, 210);
    
    
    .top{
        display: flex;
        flex-direction: column;
        min-height: max-content;
                
        .top1{
            height: 40px;
            p{
                background-color: rgb(51,122,183);
                padding: 5px;
            }
        }
        .btn1{
            background-color: rgb(225,230,254);
            padding: 10px;
            button{
                padding: 2px;
            }
            p{
                margin-top: 2px;
            }
            
        }
        .top2{
            p{
                background-color: rgb(51,122,183);
                padding: 5px;
            }
        }
    }
    .bottom{
        display: flex;
        flex-direction: column;
    }
}
.addNew{
    display: flex;
    flex-direction: column;
    border: 1px  solid black;
    border-radius: 3px;
    background-color: rgb(225,230,254);
    .addSocial{
        background-color: rgb(119, 180, 180);
        overflow: hidden;
        padding: 8px;
        color: white;
    }
    .addForm{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 15px; 
        .dataInput{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-left: 30px;
            span{
                flex: 1;
                text-align: right;                
            }
            input{
                flex: 4;
            }
        } 
        button{
            background-color: rgb(80, 163, 117);
            border: none;
            padding: 8px;
            cursor: pointer;
            border-radius: 5px;
            color: white;
        }      
    }
    
}