.home{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .cards, .about{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        gap: 20px;        
    }
}
.elementals{
    display: flex;
    gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.login{    
    display: flex;
    flex-direction: column;
    button{
        cursor: pointer;
    }
    
}


