*{
    // font-size: 0px;
    margin: 0;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.social{
    min-height: auto;
    width: 22%;
    border: 1px solid rgb(238, 226, 226); 
    overflow: auto;    
    .image{
        img{
            height: 20vh;
            width: 100%;            
        }
    }
    .texted{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 5px;
        p{
            text-align: center;
        }
        button{
            padding: 5px 20px;
            margin: 10px 0px;
            border: none;
            border-radius: 5px;
            background-color: rgb(11,102,35);
            color: white;
            cursor: pointer;
        }
    }
}
.video{
    min-height: auto;
    width: 22%;
    border: 1px solid rgb(238, 226, 226);
    overflow: auto;     
    .image{
        img{
            height: 20vh;
            width: 100%;            
        }
    }
    .texted{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 5px;
        p{
            text-align: center;
        }
        button{
            padding: 5px 20px;
            margin: 10px 0px;
            border: none;
            border-radius: 5px;
            background-color: rgb(11,102,35);
            color: white;
            cursor: pointer;
        }
    }

}
.business{
    min-height: auto;
    width: 22%;
    border: 1px solid rgb(238, 226, 226);
    overflow: auto;      
    .image{
        img{
            height: 20vh;
            width: 100%;            
        }
    }
    .texted{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 5px;
        p{
            text-align: center;
        }
        button{
            padding: 5px 20px;
            margin: 10px 0px;
            border: none;
            border-radius: 5px;
            background-color: rgb(11,102,35);
            color: white;
            cursor: pointer;
        }
    }

}
.website{
    min-height: auto;
    width: 22%;
    border: 1px solid rgb(238, 226, 226); 
    overflow: auto;    
    .image{
        img{
            height: 20vh;
            width: 100%;            
        }
    }
    .texted{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 5px;
        p{
            text-align: center;
        }
        button{
            padding: 5px 20px;
            margin: 10px 0px;
            border: none;
            border-radius: 5px;
            background-color: rgb(11,102,35);
            color: white;
            cursor: pointer;
        }
    }

}
.follow, .booster, .bookmark{
    border: 1px solid rgb(238, 226, 226);     
    min-height: max-content;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 0px;
    overflow: auto;

    button{
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
        background-color: rgb(11,102,35);
        color: white;
        cursor: pointer;
    }
}
.booster{
    display: flex;
    flex-direction: column;        
    .info{
        display: flex;
        flex-direction: column;
        gap: 5px;        
    }
    .socials{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:  5px;
        cursor: pointer;      
        img{
            height:40px;
            width:40px;
            margin-top: 5px;
            border-radius: 3px;
        }
    }
}
.system{
    display: flex;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(224, 211, 211);
    border-top: 1px solid rgb(224, 211, 211);;
    padding: 20px;
    .leftSystem{
        flex: 1;        
        p{
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        img{
            height: 120px;
            width: 70%;
            object-fit: contain;
        }

    }
    .explanation{
        flex: 3;
        margin-top: 20px;
    }
}
.comments{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(214, 205, 205);
    padding: 15px;
    p{
        margin-bottom: 10px;
        font-size: 18px;
    }
}
.comment{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    .comment1, .comment2,.comment3{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(228, 225, 225);
        width:  30%;
        height: auto;
        padding: 5px;        
        p{
            font-size: 16px;
        }

    }
}
.mainElements{   
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar{    
    width: 25%;
}
.buttons{
    display: flex;
    gap: 1px;
    margin-top: 20px;
    
    .leftButtons, .rightButtons{
        width: 50%;        
        button{
            padding: 5px;
            font-size: 17px;
            width: 100%;
            color: white;
            background-color: rgb(102, 199, 199);
            border: 1px solid rgb(231, 199, 199);
            cursor: pointer;
            border-radius: 3px;                        
        }
    } 
    .right{
        width: 50%;
    }  
    
}
.earnCoins{
    margin: 10px 0px 10px 0px;
    button{
        background-color: rgb(46, 206, 153);
        border: none;
        cursor: pointer;
        width: 100%;
        padding: 5px;
        color: white;
    }
}
.yourAccount{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(59, 150, 150);
    border-radius: 3px;
    .account{
        background-color: rgb(59, 150, 150);
        padding: 10px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 2px;        
    }
}
.bonus{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid rgb(59, 150, 150);
    border-radius: 3px;
    .yourBonus{
        background-color: rgb(59, 150, 150);
        padding: 10px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 2px;
        button{
            background-color: aquamarine;
            border: none;
            padding: 5px;
            cursor: pointer;
            margin-top: 3px;
            border-radius: 3px;
            margin-bottom: 3px;
        }
        
    }

}
.updates{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(59, 150, 150);
    border-radius: 3px;
    .recentUpdates{
        background-color: rgb(59, 150, 150);
        padding: 10px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 2px;
    }
}
.coined{
    display: flex;
    flex-direction: column;
    gap: 10px;    
    
    .top{        
        display: flex;        
        gap: 10px;
    }
    .center{        
        display: flex;
        gap: 10px;
    }
    .bottom{        
        display: flex;
        gap: 10px;
    }
}
.footer{
    height: 30vh;
    width: auto;
    background-color: rgb(80,86,93);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px 0px 0px;
    padding: 20px;
    .top{
        flex: 1;
        border-bottom: 1px solid white;
        
    }
    .bottom{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        ul{
            list-style: none;
            li{
                display: inline;
                margin-right: 20px;
                cursor: pointer;                
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        p{
            float: right;
            text-align: right;            
        }
    }

}