.hero{
    height: 230px;
    // margin-left: 20px;
    // margin-right: 20px;
    margin-top: 5px;
    margin: 0;
        
    .video{
        display: flex;
        align-items: center;        
        height: 200px;
        width: 100%;
        video{
            height: 220px;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;

        }
        .text{
            position: absolute;
            background-color: red;
            border-radius: 5px;
            padding: 5px;
            max-width: max-content;
            margin-left: 20px;
            
            button{
                margin-top: 5px;
                cursor: pointer;
            }
        }
    }
}
