.links{
    display: flex;
    align-items: center;
    margin-top: 0.5px;
    color: white;
    height: 20px;
    background-color: rgb(22,58,106);
    .left{
        flex: 2;
        ul{
            list-style: none;
            li{
                display: inline;
                margin-right: 10px;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background-color:rgb(177, 147, 147);
                    
                }
                
            }
        }
    }
    .center{
        flex: 1;
    }
    .right{
        flex: 1;
        ul{
            list-style: none;
            li{
                display: inline;
                margin-right: 10px;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background-color:rgb(177, 147, 147);
                    
                }
            }
        }
    }
}