*{
    margin: 0;
    font-size: 18px;    
}
.navbar{
    display: flex;
    align-items: center;
    color: white;
    height: 80px;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}
.leftnav{
    display: flex;
    gap: 10px;
    flex: 2;
    margin-left: 20px;
} 
.leftDiv img{    
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;    
}
    
.rightDiv{
    display: flex;
    flex-direction: column; 
    color: orange; 
    height: 40px;
    margin-top: auto;   
}
.rightDiv p, span{
    font-size: 12px;
}    
.centernav{
    flex: 2;
}
.rightnav{
    display: flex;
    flex: 2;
    justify-content: flex-end;
    margin-right: 20px;
    position: relative;    
}
.rightnav button{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}    


.login{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10%;
    background-color: rgb(183, 226, 226);
    padding: 5px;
    border-radius: 3px;
    gap: 5px;
   
} 