.hero{
    height: 520px;    
    margin: 0;
    padding: 0;  
    .video{
        display: flex;
        align-items: center;        
        height: 100%;
        width: 100%;
        
        video{
            height: inherit;
            width: 100%;
            object-fit: fill;        
        }
        .text{
            position: absolute;
            background-color: red;
            border-radius: 5px;
            padding: 5px;
            max-width: max-content;
            margin-left: 10px;
            bottom: 80px;
                        
            button{
                margin-top: 5px;
                cursor: pointer;
            }
        }
    }
}
.menu{
    color: green;
    border: 1px solid rgb(172, 164, 164);
    border-radius: 3px;
    margin-bottom: 10px;
    ul{
        list-style: none;
        padding: 0;
        li{
            padding: 5px;            
            margin-bottom: 5px;
            background-color: rgb(221, 217, 217);
            &:hover{
                background-color: rgb(67, 117, 67);
                color: white;
                cursor: pointer;
            }                        
        }
    }
}
